
.container{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
.heroImageNoVideo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fadeToBlack{
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 20%;
    width: 100%;
    background-image: linear-gradient(to top, #0f0f0f 10%, transparent 90%);
    background-repeat: no-repeat;
    /* background-color: black; */
    z-index: 10;
}
.mute,.unmute, .replay{
    all: unset;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    /* background: transparent; */
    cursor: pointer;
    position: absolute;
    bottom: 128px;
    right: 100px;
    color: white;
    font-size: 16px;
    z-index: 100;
    text-align: center;
    pointer-events: all;
    background-image: url(/sound-off.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;

    transition: 0.1s ease-in-out;
}
.unmute{
    background-image: url(/sound-on.png);
}
.mute:hover,.unmute:hover,.replay:hover{
    background-color: rgba(255, 255, 255, 0.21);
}
.replay{
    background-image: url('/replay.png');
    background-size: 75%;
    transform: rotateX( 180deg );
}
.name{
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 100px;
    left: 5rem;
    font-size: 150px;
    font-weight: 800;
    z-index: 100;
    color: white;
    margin: 0;
}
.heroImageFade{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to right, #0f0f0f 25%, #0f0f0f1a, #0f0f0f 75%);
}

.heroImage{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.fadeInOutWrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.logo{
    position: absolute;
    top: 100px;
    right: calc(5rem + 6px);
    z-index: 100;
}

@media (max-width: 1000px){
    .heroImageNoVideo{
        background-size: cover;
    }
    .heroImage{
        object-fit: cover;
    }
}