.container{
    display: flex;
    position: absolute;
    right: 135px;
    align-self: center;
    align-items: center;
    width: fit-content;
}
.searchInput::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 23px;
    width: 23px;
    background-image: url('/cross.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.searchInput{
    width: 18em;
    /* margin-right: 25px; */
    font-size: 14px;
    background-color: transparent;
    border: none;
    padding: 0 0 0 5px;
    width: 85%;
    color: white
}
.searchInput:focus{
    outline: unset;
}
.searchWrapper{
    background-color: var(--themeColorDark);
    width: 225px;
    display: flex;
    flex-direction: row-reverse;
    height: 2em;
    margin: 0 1em 0 0;
    position: relative;
    /* justify-content: center; */
    padding: 0;
    outline: 1px solid rgb(255, 255, 255);
    /* background: var(--themeColorLight); */
}
.searchBarIconContainer{
    background: none;
    border: none;
    height: 100%;
    width: 60px;
    padding-left: 15px;
    align-self: center;
    cursor: pointer;

    transition: 0.1 ease-in-out;
}
.searchBarIcon{
    margin: unset;
    width: 25px;
    height: 25px;
    background-image: url('/search.png');
    background-size: contain;
}
.searchBarIcon2{
    position: absolute;
    left: 5px;
    top: 3px;
    width: 25px;
    height: 25px;
    background-image: url('/search.png');
    background-size: contain;
}
